.container {
    display: flex;
    height: calc(100% - 102px);
    width: 100%;
    justify-content: center;
    align-items: center;

    &__user {
        flex-direction: column;
        justify-content: left;
        align-items: center;

        button {
            margin-right: 20px;
        }
    }

    &__table {
        flex-direction: column;
        justify-content: left;
        align-items: start;
        margin-left: 12%;
        width: 75%;
    }

    &__button {
        height: fit-content;
        justify-content: left;
        
        button {
            margin-right: 20px;
        }
    }
}   

.form {
    margin-bottom: 200px;
    
    & .label {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

    input {
        height: 40px;
        width: 300px;
        padding-left: 20px;
        border: 1px solid rgb(79, 79, 79);
        border-radius: 30px;
        font-family: Helvetica, sans-serif;

        &::placeholder { 
            font-size: 13px;
            font-family: Helvetica, sans-serif;
        }

        &:-ms-input-placeholder {
            font-size: 13px;
            font-family: Helvetica, sans-serif;
        }

        &::-ms-input-placeholder { /* Edge 12-18 */
            font-size: 13px;
            font-family: Helvetica, sans-serif;
        }

        &[type="date"] {
            padding-right: 20px;
        }

    }

    & .button {
        height: 30px;
        width: 50px;
        border: 1px solid rgb(79, 79, 79);
        border-radius: 30px;
        cursor: pointer;
        font-family: Helvetica, sans-serif;
        margin-right: 10px;

        &:hover {
            border: 2px solid rgb(89, 89, 89);
            background: rgb(218, 218, 218);
        }

        &__login, &__update {
            width: 60px;
        }

        &__register {
            width: 70px;
        }
    }

    & .select {
        height: 45px;
        width: 323px;
        border-radius: 30px;
        padding-left: 20px;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='lightgray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 2em;

        option {
            color: black;
        }

        &:invalid, option[value=""] {
            color: grey;
        }
    }

    &__update {
        input {
            margin-top: 0;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }
}

.table {
    margin-bottom: 10px;
    border-spacing: 0px 20px;
    width: 100%;

    &__register {
        border-bottom: 2px solid lightgrey;
    }

    &__home, &__view {
        border-spacing: 0px;

        th {
            text-align: left;
            background-color: #3E7846;
            padding: 10px;
        }

        tr {
            &:nth-child(even) {
                background-color: rgb(235, 235, 235);
            }
        }

        td {
            padding: 10px;
            border-bottom: 2px solid lightgrey;
        }
    }    
}