@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    display: flex;
    align-items: center;

    .navbar__logo {
        display: flex;
        justify-content: center;
        width: 33.33%;

        img {
            height: 60px;
            margin-bottom: 5px;
            width: auto;
        }
    }

    .navbar__items {
        margin: 0;
        padding: 0;
        width: 33.33%;
        display: flex;
        justify-content: center;

        .navbar__item {
            display: inline;
            margin-left: 20px;

            &:first-child {
                margin: 0;
            }
        
            .navbar__link{
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                text-decoration: none;
                color: #aeb1a9;
                margin: 0px 20px;
                padding-bottom: 5px;

                &.active {
                    color: #767e83;
                    border-bottom: 3px solid #767e83;
                }

                &:hover {
                    color: #767e83;
                    border-bottom: 3px solid #767e83;
                    transition: border 0.1s ease-in-out;
                }
            }
        }
    }

    .right {
        width: 33.33%;
        display: flex;
        justify-content: center;
    }
}

